<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, 'Descrição' %>
    <%= f.text_field :description %>
  </div>
  <%= f.label :status, 'Status' %>
  <div class="input-field">
    <%= f.select(:stage_id, select_stage(@task)) %>
  </div>
  <div class="field">
    <%= f.label :priority, 'Prioridade' %>
    <%= f.select(:priority, @task.priority_list) %>
  </div>
  <div class="field">
    <%= f.label :progress, 'Progresso' %>
    <p class="range-field">
      <%= f.range_field :progress %>
    </p>
  </div>
  <div class="field">
    <%= f.hidden_field :project_id %>
  </div>
  <div class="row">
    <div class="col right">
      <%= f.button :button, class: 'btn waves-effect waves-light' do %>
        <i class="material-icons right">send</i>
        Salvar
      <% end %>
    </div>
    <div class="col left">
      <%= link_to "Cancelar", Project.find(@task.project_id), data: { confirm: 'Tem certeza que deseja cancelar?' }, class: 'btn waves-effect waves-light  red accent-2' %>
    </div>
  </div>
<% end %>
