<div class="container">
  <%= form_for(@project) do |f| %>
    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :start_date %><br>
      <%= f.text_field :start_date, class: 'datepicker' %>
    </div>
    <div class="field">
      <%= f.label :end_date %><br>
      <%= f.text_field :end_date, class: 'datepicker' %>
    </div>
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <%= f.file_field :image %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload one file">
      </div>
    </div>
    <div class="field">
      <%= f.label :progress %><br>
      <%= f.number_field :progress %>
    </div>
    <div class="field">
      <%= f.label "Desenvolvedores integrantes do projeto" %><br>
      <%= f.collection_check_boxes( :developers, User.all, :id, :email, :checked => @project.try(:developers_list)) do |b| %>
        <br>
        <%= b.label { b.check_box + b.label } %>
      <% end %>
    </div>
    <div class="modal-footer row">
      <div class="col right">
        <%= f.button :button, class: 'btn waves-effect waves-light' do %>
          <i class="material-icons right">send</i>
          Salvar projeto
        <% end %>
      </div>
      <div class="col right">
        <a href="#!" class="modal-action modal-close waves-effect waves-light btn red accent-2"> Cancelar </a>
      </div>
    </div>
  <% end %>
</div>
