<div id="project-edit">
  <%= form_for(@project) do |f| %>
    <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

        <ul>
        <% @project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name, 'Nome' %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description, 'Descrição' %>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :start_date, 'Data inicial' %>
      <%= f.date_field :start_date, value:  @project.start_date.strftime("%d %B, %Y"), class: 'datepicker' %>
    </div>
    <div class="field">
      <%= f.label :end_date, 'Data final' %>
      <%= f.date_field :end_date, value: @project.end_date.strftime("%d %B, %Y"), class: 'datepicker' %>
    </div>
    <div class="file-field input-field">
      <div class="btn">
        <span>Selecionar imagem</span>
        <%= f.file_field :image %>
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Envie uma imagem descritiva">
      </div>
    </div>

    <div class="field" id="select-developers">
      <%= f.label "Desenvolvedores" %>
      <%= collection_check_boxes( 'project', :developers, User.all, :id, :email, checked: @project.developers_list) do |b| %>
      <br>
        <%= b.label(class: 'check_box-dev') { b.check_box + b.label } %>
      <% end %>
    </div>

    <br>
    <div class="col", id="load-scrum-chooser">
      <% render 'choose_scrum' %>
    </div>

    <div class="divider"></div>

    <div class="section row">
      <div class="col">
        <%= link_to 'Cancelar', :back, class: 'btn red accent-2 waves-effect waves-light' %>
      </div>
      <div class="col right">
        <%= f.button :button, class: 'btn waves-effect waves-light' do %>
          <i class="material-icons right">send</i>
          Salvar projeto
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<script>
var boxes, developers_list, i, len;

developers_list = document.getElementById('select-developers');

boxes = developers_list.getElementsByTagName('input');

i = 0;

len = boxes.length;

while (i < len) {
  if (boxes[i].type === 'checkbox') {
    boxes[i].onclick = function() {
      // $('#load-scrum-chooser').html("<%= j (render 'choose_scrum') %>");
      // $('#load-scrum-chooser').slideDown(350);
      // alert(this.value);
    };
  }
  i++;
}
</script>
