<div class="row">
  <% stages(@project).each do |s| %>
    <div class="col s12 m4">
      <div class="card-panel teal">
        <span class="card-title white-text"><h5><%= s.name %></h5></span>
          <ul class="collapsible popout" data-collapsible="expandable">
            <% stage_tasks(@project, s).each do |t| %>
                <li>
                  <div class="collapsible-header"><i class="material-icons">info_outline</i>
                    <%= t.name %>
                  </div>
                  <div class="collapsible-body red lighten-2 white-text text-darken-2">
                    <p>
                      <%= t.description %>
                    </p>
                    <p>
                    <strong>Prioridade: </strong>
                    <%= t.priority %>
                    <br>
                    <strong>Status: </strong>
                    <%= t.status %>
                      <%= link_to edit_task_path(t), class: 'btn-floating waves-effect waves-light blue right' do %>
                        <i class="tiny material-icons">description</i>
                      <% end %>
                    </p>
                    <br>
                  </div>
                </li>
            <% end %>
          </ul>
        <div class="card-action">
          <center>
            <%= link_to new_task_path(project_id: @project.id, stage_id: s), class: 'btn-floating waves-effect waves-light red' do %>
              <i class="material-icons">add</i>
            <% end %>
          </center>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Editar projeto', edit_project_path(@project) %> |
<%= link_to 'Voltar', projects_path %>
