<h4 class="center-align"><%= @project.name %></h4>

<div class="row">
  <% stages(@project).each do |s| %>
    <div class="col s12 m4">
      <div class="card-panel teal">
        <span class="card-title white-text center-align">
            <h5 class="row"><%= s.name %></h5>
        </span>
          <ul class="collapsible popout" data-collapsible="expandable">
            <% stage_tasks(@project, s).each do |t| %>
                <li>
                  <div class="collapsible-header"><i class="material-icons">pageview</i>
                    <%= t.name %>
                  </div>
                  <div class="collapsible-body red lighten-2 white-text text-darken-2">
                    <p>
                      <%= t.description %>
                    </p>
                    <p>
                      <strong>Prioridade: </strong>
                      <%= t.priority %>
                      <br>
                      <strong>Status: </strong>
                      <%= t.stage.name %>
                      <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn-floating modal-trigger blue right" href="#modal-task-<%=t.id%>">
                          <i class="tiny material-icons">mode_edit</i>
                        </a>
                        <%= link_to task_path(id: t.id, command: 'deactivate'), data: { confirm: 'Tem certeza que deseja arquivar esta tarefa?' }, class: 'waves-effect waves-light btn-floating modal-trigger red right' do %>
                          <i class="material-icons">archive</i>
                        <% end %>
                    </p>
                    <!-- Modal Structure -->
                    <% @task = t %>
                    <div id="modal-task-<%=t.id%>" class="modal black-text">
                      <div class="modal-content">
                        <h4>Editar tarefa: <%= t.name %> </h4>
                        <%= render 'tasks/form' %>
                      </div>
                    </div>
                    <!-- End Modal -->
                    <br>
                  </div>
                </li>
            <% end %>
          </ul>
        <div class="card-action center">
            <!-- Modal Trigger -->
              <a class="waves-effect waves-light btn-floating modal-trigger green" href="#modal-task-new-<%= s.id %>">
                <i class="tiny material-icons">playlist_add</i>
              </a>
            </p>
            <!-- Modal Structure -->
            <% @task = Task.new %>
            <% @task.stage_id = s.id %>
            <% @task.project_id = @project.id %>
            <div id="modal-task-new-<%= s.id %>" class="modal black-text">
              <div class="modal-content">
                <h4>Criar tarefa</h4>
                <%= render 'tasks/form' %>
              </div>
            </div>
            <!-- End Modal -->
        </div>
      </div>
    </div>
  <% end %>
  <div class="col right">
    <div class="row">
      <%= link_to projects_tasks_archive_path(project_id: @project.id), class: 'btn-floating btn-large waves-effect waves-light grey right' do %>
        <i class="material-icons">list</i>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="left col">
    <%= link_to 'Voltar', projects_path, class: 'waves-effect waves-light btn' %>
  </div>
  <div class="col">
    <%= link_to 'Editar projeto', edit_project_path(@project), class: 'waves-effect blue waves-light btn'%>
  </div>
</div>
