<header>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <nav>
    <div class="nav-wrapper">
      <%= link_to 'Início', root_path, class: 'brand-logo' %>
      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to 'Projetos', projects_path %></li>
        <% if user_signed_in? %>
          <li> Bem vindo, <strong><%= current_user.email %></strong>. </li>
          <li> <%= link_to 'Editar perfil', edit_user_registration_path%> </li>
          <li> <%= link_to "Sair", destroy_user_session_path, method: :delete %> </li>
        <% else %>
          <li> <%= link_to "Registrar-se", new_user_registration_path %> </li>
          <li> <%= link_to "Entrar", new_user_session_path %> </li>
        <% end %>
      </ul>

      <ul class="side-nav" id="mobile-demo">
        <li><%= link_to 'Projetos', projects_path %></li>
        <% if user_signed_in? %>
          <li> Bem vindo, <strong><%= current_user.email %></strong>. </li>
          <li> <%= link_to 'Editar perfil', edit_user_registration_path%> </li>
          <li> <%= link_to "Sair", destroy_user_session_path, method: :delete %> </li>
        <% else %>
          <li> <%= link_to "Registrar-se", new_user_registration_path %> </li>
          <li> <%= link_to "Entrar", new_user_session_path %> </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
